---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Curriculum Vitae">
  <h1>Curriculum Vitae</h1>
  <iframe
    src="/ZHANNA_CV_FOR_WEBSITE.pdf"
    width="100%"
    height="800px"
    style="border:none;"
  ></iframe>

  <p class="mt-4">
    <a href="/ZHANNA_CV_FOR_WEBSITE.pdf" download class="btn btn-primary">
      Download CV
    </a>
  </p>
</BaseLayout>

