---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Curriculum Vitae">
  <h1>Curriculum Vitae</h1>
  <iframe
    src="/CV_Zhanna_Kaufman.pdf"
    width="100%"
    height="800px"
    style="border:none;"
  ></iframe>

  <p class="mt-4">
    <a href="/CV_Zhanna_Kaufman.pdf" download class="btn btn-primary">
      Download CV
    </a>
  </p>
</Layout>

